@charset "utf-8";

.tabStyle01 .tab {margin:20px 0 0 0;}
.tabStyle01 .tab > ul {display:flex; flex-direction:row; padding:0; margin:0; background:#fff; list-style:none; border-radius:3px;}
.tabStyle01 .tab > ul > li {display:flex; flex-direction:column; flex:1; min-height:45px;}
.tabStyle01 .tab > ul > li > a {display:flex; flex-direction:row; flex:1; position:relative; padding:20px 20px 30px; font-size:20px; font-size:2.0rem; font-family:'notokr'; line-height:180%; background:#fff; color:#535353; text-decoration:none; box-sizing:border-box; text-align:center; align-items:center; justify-content:center; border:1px solid transparent; border:1px solid #535353; border-bottom:0;}
.tabStyle01 .tab > ul > li.on > a, .tabStyle01 .tab > ul > li > a:hover {margin:0 -1px; background: rgb(255,255,255); background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,243,243,1) 100%); color:#ec5151; border:1px solid #ec5151; border-bottom:0; z-index:1; font-weight:bold;}
.tabStyle01 .tabCon .flat-section-title:after {margin-top:54px;}

.tabStyle02 .tab {margin:20px 0 0 0;}
.tabStyle02 .tab > ul {display:flex; flex-direction:row; overflow:hidden; padding:0; margin:0 -3px; background:#fff; list-style:none; border-radius:3px;}
.tabStyle02 .tab > ul > li {display:flex; flex-direction:column; flex:1; min-height:45px; margin-bottom:40px;}
.tabStyle02 .tab > ul > li > a {display:flex; flex-direction:row; flex:1; position:relative; margin:0 3px; padding:15px 20px; font-size:24px; font-size:2.4rem; font-weight:bold; line-height:140%; background:#ec5151; color:#fff; text-decoration:none; box-sizing:border-box; text-align:center; align-items:center; justify-content:center; transition:0.4s;}
.tabStyle02 .tab > ul > li.on > a {background:#000;}
.tabStyle02 .tab > ul > li.on > a:before {content:''; display:inline-block; position:absolute; top:100%; left:50%; width:0; height:0; margin-left:-15px; box-sizing:border-box; border-left:15px solid transparent; border-right:15px solid transparent; border-top:26px solid #000;}
.tabStyle02 .tab > ul > li > a:hover {background:#000;}

.tabStyle03 > .tab {margin:20px 0 0 0;}
.tabStyle03 > .tab > ul {display:flex; flex-direction:row; overflow:hidden; padding:0; margin:0 -10px; background:#fff; list-style:none; border-radius:3px;}
.tabStyle03 > .tab > ul > li {display:flex; flex-direction:column; flex:1; min-height:45px; margin-bottom:40px;}
.tabStyle03 > .tab > ul > li > a {display:flex; flex-direction:column; flex:1; position:relative; padding:0 10px 40px; font-size:24px; font-size:2.4rem; font-weight:bold; line-height:140%; text-decoration:none; box-sizing:border-box; transition:0.4s; border-bottom:2px solid #ec5151;}
.tabStyle03 > .tab > ul > li.on > a:before {content:''; display:inline-block; position:absolute; top:100%; left:50%; width:0; height:0; margin-left:-15px; margin-top:1px; box-sizing:border-box; border-left:15px solid transparent; border-right:15px solid transparent; border-top:26px solid #ec5151;}
.tabStyle03 > .tab > ul > li.on > a:after {content:'View'; display:inline-block; position:absolute; top:55%; left:50%; margin-left:-53.5px; width:107px; margin-top:-19px; padding:10px 15px 10px 45px; height:38px; color:#fff; font-size:18px; font-weight:normal; line-height:100%; border-radius:25px; background:#ec5151 url('../img/ico_view.png') no-repeat 15px 7px; background-size:20px; box-sizing:border-box;}
.t-pass-teacher-img {width:100%;}
.t-pass-txt-wrap {flex:1; margin:10px 0 0; padding:0 0 0 10px; border-left:3px solid #ec5151; box-sizing:border-box; font-family:'notokr';}
.t-pass-teacher-name {margin:0; padding:0; color:#000; font-size:16px; font-size:1.6rem; line-height:140%;}
.t-pass-teacher-subject {margin:0; padding:0; color:#000; font-size:11px; font-size:1.1rem; font-weight:normal; line-height:140%;}

.tabStyle04 .tab {margin:20px 0 0 0;}
.tabStyle04 .tab > ul {display:flex; flex-direction:row; padding:0; margin:0; background:#fff; list-style:none; border-radius:3px;}
.tabStyle04 .tab > ul > li {display:flex; flex-direction:column; flex:1; min-height:45px;}
.tabStyle04 .tab > ul > li > a {display:flex; flex-direction:row; flex:1; position:relative; padding:10px 10px; font-size:18px; font-size:1.8rem; font-weight:bold; line-height:140%; background:#ec5151; color:#fff; text-decoration:none; box-sizing:border-box; text-align:center; align-items:center; justify-content:center;}
.tabStyle04 .tab > ul > li.on > a {background:#fff; color:#ec5151; border-top:1px solid #ec5151; border-left:1px solid #ec5151; border-right:1px solid #ec5151;}
.tabStyle04 .tab > ul > li > a:hover {background:#fff; color:#ec5151;}
.tabStyle04 .tab > ul > li.on > a:hover {background:#fff; color:#ec5151;}
.t-pass-tabCon-wrap {margin-top:50px; font-family:'notokr';}
.t-pass-tab-left-wrap {background:url('../img/bg_law.png') no-repeat 40px 0; background-size:520px;}
.t-pass-tab-right-wrap {padding:20px 20px 30px;}
.t-pass-tab-teacher-img {width:450px;}
.t-pass-tab-tit {font-family:'notokr'; font-size:28px; font-size:2.8rem; line-height:140%;}
.t-pass-career-list {list-style:none; padding:30px 0 20px; border-bottom:2px solid #ec5151;}
.t-pass-career-list > li {padding:5px 0; border-top:1px dotted #707070; font-size:14px; font-size:1.4rem;}
.t-pass-career-list > li:first-child {border-top:0;}
.regards-txt {padding:30px 0; border-bottom:2px solid #ec5151; font-size:14px; font-size:1.4rem; line-height:170%; color:#333;}

.color-main-point {color:#ec5151;}
#about-us {background:#f8f8f8;}

#about-us .info-box2 .info-box-icon.hover-colorful i:after {z-index:1;}
#about-us .info-box2 .info-box-icon.hover-colorful i:before {position:relative; z-index:2;}

.imgW img {width:100%; box-sizing:border-box;}
.imgCase {width:80%; box-sizing:border-box;}
.main-slider-img01 {width:650px; margin-top:-50px; box-sizing:border-box;}

.flat-section-subtitle {font-size:16px; font-size:1.6rem; line-height:160%; font-family:'notoserifkr';}
.flat-section-title .subheader {font-size:28px; font-size:2.8rem; margin-top:0; line-height:160%; color:#3a3a3a;}
#subscribe .flat-section-title {width:70%;}

#our-clients .flat-section {border:0; background:#fff;}
#our-clients .flat-section-title {width:100%;}

#new-point {background-color:#fff4f4;}
#new-point .imgW {margin-top:30px;}
.ico-round {display:block; position:relative; width:100%; box-sizing:border-box;}
.ico-round:before {content:''; position:absolute; top:50%; margin-top:-25px; left:50%; margin-left:-25px; display:inline-block; width:50px; height:50px; box-sizing:border-box;}
.ico-bd-send:before {background:url('../img/bd_send.png') no-repeat center; background-size:100%;}
.ico-bd-mail:before {background:url('../img/bd_mail.png') no-repeat center; background-size:100%;}
.ico-bd-itinerary:before {background:url('../img/bd_itinerary.png') no-repeat center; background-size:100%;}
.ico-bd-placeofinterest:before {top:50%; margin-top:-23px; left:50%; margin-left:-20px; width:40px; height:46px; background:url('../img/bd_placeofinterest.png') no-repeat center; background-size:100%;}

.time-line-wrap {display:flex; flex-direction:row; justify-content:space-around; position:relative; margin-bottom:20px;}
.time-line-wrap:before {content:''; display:block; position:absolute; top:50%; margin-top:-4px; width:100%; height:8px; border-radius:5px; box-sizing:border-box; background-color:#d43030;}
.time-line-wrap > li {display:flex; flex-direction:column; flex:1; position:relative;}
.time-line-wrap .top-txt {position:absolute; top:0; width:100%; margin:20px 0; font-size:20px; color:#ec5151; font-weight:bold; line-height:140%;}
.time-line-wrap .icoCircle {position:absolute; top:50%; margin-top:-22.5px; left:50%; margin-left:-22.5px; width:45px; height:45px; border-radius:50%; border:7px solid #d43030; box-sizing:border-box; background-color:#fff;}
.time-line-wrap .bttm-txt {margin:90px 0 0; font-size:18px; color:#9a9898; font-weight:bold; line-height:140%;}

.t-pass-youtube-lecture-wrap {position:relative; background:#ec5151; color:#fff; padding:40px 0 0;}
.t-pass-youtube-lecture-wrap:before {content:''; display:inline-block; position:absolute; top:-25px; right:80px; width:0; height:0; box-sizing:border-box; border-left:15px solid transparent; border-right:15px solid transparent; border-bottom:26px solid #ec5151;}
.t-pass-youtube-tit {display:flex; flex-direction:row; align-items:center; font-family:'notokr'; font-size:18px; font-size:1.8rem; color:#fff;}
.ico-play {content:''; display:flex; width:30px; height:20px; margin-right:10px; background:url('../img/ico_play.png') no-repeat center; background-size:100%; box-sizing:border-box;}
.t-pass-youtube-list {display:flex; flex-direction:row; justify-content:space-around; padding-bottom:40px;}
.t-pass-youtube-list > li {display:flex; flex-direction:column; flex:1; margin:0 40px;}

.linked-tab {display:flex; flex-direction:row; padding:0 30px; justify-content:space-around;}
.linked-tab > li {display:flex; flex-direction:column; flex:1; margin:0 10px;}
.linked-tab > li > a {display:flex; flex-direction:column; align-items:center; justify-content:center; text-align:center; padding:8px 0; border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff; color:#fff; transition:0.4s; height:100%;}
.linked-tab > li.on > a, .linked-tab > li > a:hover {background:#fff; color:#ec5151;}
.t-pass-linked-tab-txt01 {padding-bottom:0; font-size:12px; font-size:1.2rem; color:inherit; line-height:120%;}
.t-pass-linked-tab-txt02 {font-size:15px; font-size:1.5rem; color:inherit; line-height:140%;}

.custom-header-colored-background {position:absolute; width:100%; height:100%; z-index:1;}
.header-featured-content .container.bg-kim-team-right01 {position:relative; background:url('../img/bg_kim_team.png') no-repeat right 10px top 100px; background-size:110px; z-index:2;}
.header-featured-content .container.bg-kim-team-left01 {position:relative; background:url('../img/bg_kim_team.png') no-repeat left 10px top 100px; background-size:110px; z-index:2;}

.btn-register-call {display:flex; flex-direction:row; position:relative; padding:12px 65px; font-size:30px; font-size:3.0rem; color:#fff; border:0; outline:0; font-weight:bold; border-radius:35px; background:#ec5151; color:#fff; letter-spacing:2px; line-height:100%; align-items:center; justify-content:center;}
.btn-register-call:before {content:''; display:inline-block; position:relative; margin-right:8px; width:50px; height:50px; background:url('../img/ico_call.png') no-repeat center; background-size:100%;}
.btn-register-call:hover {color:#fff;}

.news-list {padding:0 40px; font-size:0;}
.news-list > li {display:inline-block; position:relative; width:25%; padding:10px; vertical-align:top;}
.news-list-wrap {padding:25px 15px; height:100%; background:#f0f0f0; text-align:center; box-sizing:border-box;}
.news-list-txt01 {margin-bottom:5px; padding:0; font-size:18px; font-size:1.8rem; color:#000; line-height:140%; font-family:'notokr'; font-weight:bold;}
.news-list-txt02 {display:block; margin-bottom:5px; font-size:23px; font-size:2.3rem; color:#ec5151; line-height:114%; font-family:'notokr';}
.news-list-txt03 {margin-top:20px; padding-top:15px; font-size:13px; font-size:1.3rem; color:#343434; line-height:200%; font-family:'notokr'; border-top:1px solid #434343;}
.news-list-wrap .ico-check {display:inline-block; margin-bottom:25px; width:50px; height:41px; box-sizing:border-box; background:url('../img/ico_check.png') no-repeat center; background-size:100%;}

.advice-list-wrap {padding:0 49px; text-align:center; font-size:0;}
.advice-list-wrap li {display:inline-block; width:50%; padding:20px; box-sizing:border-box;}
.advice-list-wrap li > img {width:100%;}

.parallax-section-inner {padding:50px 0 40px;}
.testmonials-carousel-quote-icon img {height:auto;}
.tip-tit01 {padding-bottom:40px; font-size:26px; font-size:2.6rem; line-height:160%; color:#fff; text-align:left; font-family:'notokr';}
.single-testmonial-message {font-style:normal; font-family:'notokr';}
.single-testmonial-person {padding-top:40px; font-size:19px; font-size:1.9rem;  line-height:140%; font-family:'notokr'; text-align:right;}
.testmonials-carousel .owl-pagination {left:40%; bottom:-25px;}

h5.light-heading.subheader, h6.light-heading.subheader {padding-top:25px;}
header p {font-size:15px; font-size:1.5rem;}
h3 {font-size:32px; font-size:3.2rem;}
h4 {font-size:19px; font-size:1.9rem;}
.flat-section-title h2 {font-size:42px; font-size:4.2rem; line-height:140%;}
.flat-section-title h3 {font-size:32px; font-size:3.2rem; line-height:140%;}
#subscribe .parallax-section-inner {padding:75px 0 80px; background:#0c0c0c url('../img/bg_subscribe.png') no-repeat center; background-size:100%;}
.subscribe-tit01 {padding-bottom:35px; font-family:'notokr'; font-size:36px; font-size:3.6rem; color:#fefefe; line-height:160%;}
.subscribe-txt01 {padding-bottom:60px; font-family:'notokr'; font-size:22px; font-size:2.2rem; color:#b6b7b7; line-height:160%;}

#pricing-plans {position:relative; padding-top:25px; background:#f3f3f3; font-family:'notokr';}
#pricing-plans:before {content:''; display:block; position:absolute; top:0; left:50%; width:900px; height:170px; margin-left:-450px; background:url(../img/ico_specialdeal.png) no-repeat left 40px top 0px; background-size:127px;}
.flat-section {padding-top:80px; padding-bottom:90px;}
.pricing-table-column-footer {padding:20px 20px 40px;}
.pricing-table-column .pricing-table-column-footer a {width:100%; text-align:center; background:#ec5151; border-color:#ec5151; color:#fff; font-weight:bold;}
.free-pricing-table-column .pricing-table-column-header .column-price,
.featured-pricing-table-column .pricing-table-column-header .column-price {background:#ec5151;}
.pricing-table-column-header .column-price span {color:#ec5151;}
ul.single-column-features {padding:0;}
footer {padding:30px 0; background:#e2e2e2;}
.footer-message {left:0;}
.container02 {width:950px;}
.pricing-table-column-header .column-title {font-family:'notokr'; font-size:18px; font-size:1.8rem;}
ul.single-column-features li:last-child {border-bottom:0;}
.btn-call-direct {display:block; margin-top:10px; padding:15px 20px; width:100%; text-align:center; background:#ec5151; color:#fff; font-size:22px; font-size:2.2rem; font-family:'notokr'; font-weight:bold; line-height:150%; border-radius:10px;}
.btn-call-direct:hover {color:#fff;}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:inherit;}
.col-md-12 .flat-section-title, .col-lg-12 .flat-section-title {width:100%;}
#pricing-plans .flat-section-title {width:100%;}
#subscribe .flat-section-title {width:100%;}

.for-pc {display:block;}
.for-mobile {display:none;}

@media (min-width:1200px){
  .container {width:1150px; padding:0;}
  .container02 {width:900px;}
}
@media (max-width:900px){
  .container02 {width:100%; box-sizing:border-box;}
  .news-list > li {width:50%;}
}
@media (max-width: 768px) {
  .for-pc {display:none;}
  .for-mobile {display:block;}

  .t-pass-youtube-lecture-wrap {padding:20px 10px 0;}
  .t-pass-youtube-list {flex-direction:column; padding-bottom:0;}
  .t-pass-youtube-list > li {margin:0 10px 30px;}

  .linked-tab {padding:0;}
  .linked-tab > li {margin:0 1px;}
  .t-pass-linked-tab-txt01 {font-size:11px; font-size:1.1rem;}
  .t-pass-linked-tab-txt02 {font-size:12px; font-size:1.2rem;}

  .tabStyle02 .tab > ul > li > a {padding:5px 8px; font-size:12px; font-size:1.2rem;}
  .tabStyle02 .tab > ul > li.on > a:before {border-left-width:8px; border-right-width:8px; border-top-width:13px; margin-left:-8px;}
  .tabStyle03 > .tab > ul > li.on > a:before {border-left-width:8px; border-right-width:8px; border-top-width:13px; margin-left:-8px;}
  .tabStyle03 > .tab > ul > li > a {padding:0 0 20px;}
  .tabStyle03 > .tab > ul > li.on > a:after {display:none;}
  .tabStyle01 .tab > ul > li > a {padding:5px; font-size:13px; font-size:1.3rem;}
  .tabStyle04 .tab > ul > li > a {padding:5px; font-size:13px; font-size:1.3rem;}
  .tabStyle01 .tab > ul > li > a:before {width:20px; margin-right:5px;}

  .t-pass-tab-teacher-img {width:70%;}
  .t-pass-txt-wrap {padding:2px;}
  .t-pass-teacher-name {font-size:13px; font-size:1.3rem;}

  .vertical-featured-image-container img {width:50%;}

  .t-pass-tab-tit {font-size:18px; font-size:1.8rem;}
  .t-pass-tab-left-wrap {background-size:100%;}
  .t-pass-youtube-tit {font-size:16px; font-size:1.6rem;}

  .time-line-wrap .top-txt {font-size:14px; font-size:1.4rem;}
  .time-line-wrap .icoCircle {width:26px; height:26px; margin-left:-13px; margin-top:-13px;}
  .time-line-wrap .bttm-txt {font-size:12px; font-size:1.2rem;}

  .header-featured-content .container.bg-kim-team-right01,
  .header-featured-content .container.bg-kim-team-left01 {background-size:70px; background-position:right 20px top 20px;}
  .main-slider-img01 {margin-top:80px;}
  h5.light-heading.subheader, h6.light-heading.subheader {padding:10px 0;}
  .button.large {padding:8px 35px; font-size:16px;}
  .button.with-hover-icon-right.large:hover i {display:none;}

  .flat-section-title h2 {font-size:22px; font-size:2.2rem;}
  h3 {font-size:18px; font-size:1.8rem;}
  h2.light-heading {font-size:22px; font-size:2.2rem;}
  h5.light-heading {font-size:16px; font-size:1.6rem;}
  .flat-section {padding-top:40px; padding-bottom:50px;}
  .flat-section-subtitle {font-size:16px; font-size:1.6rem;}
  .flat-section-title .subheader {font-size:18px; font-size:1.8rem;}
  img.img-ico-pass {width:80px;}

  .advice-list-wrap {padding:0;}
  .advice-list-wrap li {width:100%; padding:10px;}

  .testmonials-carousel-outer {padding:0 20px;}
  .testmonials-carousel {padding-left:0;}
  .tip-tit01 {font-size:18px; font-size:1.8rem;}
  .single-testmonial-message {font-size:14px; font-size:1.4rem;}
  .single-testmonial-person {font-size:15px; font-size:1.5rem;}

  .subscribe-tit01 {padding-bottom:20px; font-size:20px; font-size:2.0rem;}
  .subscribe-txt01 {padding-bottom:20px; font-size:14px; font-size:1.4rem;}

  .news-list {padding:0 20px;}
  .news-list > li {width:50%; height:280px;}
  .news-list-txt01 {font-size:14px; font-size:1.4rem;}
  .news-list-txt02 {font-size:16px; font-size:1.6rem;}
  .news-list-wrap .ico-check {margin-bottom:15px; width:30px; height:25px;}

  .btn-register-call {padding:10px 40px; font-size:16px; font-size:1.6rem; max-width:100%;}
  .btn-register-call:before {width:20px; height:20px;}

  .footer-message {font-size:12px; font-size:1.2rem;}
}
